@mixin Tablet {
    @media screen and (min-width: 920px) {
        @content;
    }
}

@mixin Mobile {
    @media screen and (min-width: 720px) {
        @content;
    }
}

$primary-color: #00bc77;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
